body {
            background-color: gray;
            
        }
        .dynamic-title {
            text-align:center;
            margin: 25px auto;
            width: 1000px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 50px;
            color: transparent;
        }
        span {
            animation: shan 4s linear infinite;
            text-transform: uppercase;
        }
        .dynamic-title span:nth-child(1){
            animation-delay: 0s;
        }
        .dynamic-title span:nth-child(2){
            animation-delay: .4s;
        }
        .dynamic-title span:nth-child(3){
            animation-delay: .8s;
        }
        .dynamic-title span:nth-child(4){
            animation-delay: 1.2s;
        }
        .dynamic-title span:nth-child(5){
            animation-delay: 1.6s;
        }
        @keyframes shan {
            0% ,100%{
                color: white;
                text-shadow: 0 0 4px  #72afc2 ,
                                0 0 10px #72afc2 ,
                                0 0 20px #72afc2 ,
                                0 0 30px #72afc2 ,
                                0 0 40px #72afc2 ,
                                0 0 50px #72afc2 ,
                                0 0 60px #72afc2 ,
                                0 0 70px #72afc2 ,
                                0 0 80px #72afc2 ,
                                0 0 90px #72afc2 ,
                                0 0 100px #72afc2;
            }
            30%,90% {
                color: transparent;
                text-shadow: none;
            }
        }
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 /* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    margin: auto;
    /* The width is the width of the web page */
  }
  .form-group
  {
    color: white;
    font-weight: bold;
  }
  .blink_me {
    animation: blinker 1s linear infinite;
    color: red;
  }

  .btn
  {
    margin: auto;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .gm-style-cc {
    display: none !important;
  }
  
  .gm-style a[href^="https://maps.google.com/maps"] {
    display: none !important;
  }